@import "compass/reset" ;
@import "compass/utilities";
@import "compass/css3";
@import "whhg";

// colors
$font-main-color: white;
$col-header-color: #3d4f56;

// width
$main-width: 1470px;

@import "main";
@import "profile";