<div class="col-md-12" ng-controller="IndexCtrl">
	<header>
        <!-- <div class="login-btn">
            <span>Войти</span>
        </div> -->
        <div class="login-search-wrap">
            <div class="logo-wrap">
                <a href="index.html">
                    <img src="img/logo.png" alt="logo">
                </a>
            </div>
            <nav class="navigation-bar">
                <i class="icon-home nav-btn" title="На главную"></i>
                <i class="icon-user nav-btn" title="Мой профиль"></i>
                <i class="icon-download-alt nav-btn" title="Загрузить текст"></i>
                <i class="icon-search nav-btn" title="Поиск"></i>
                <i class="icon-exit nav-btn" title="Выход"></i>
                <!-- <i class="icon-enter nav-btn" title="Вход"></i>   -->
             </nav>     
        </div>
        <div class="search-wrap">
            <input placeholder="Поиск текстов и видео..." class="search-form" type="input">
        </div>      
  </header>
</div>