<div class="col-md-12" ng-controller="IndexCtrl">
	<header>
	                <div class="login-logo-wrap">
	                    <div class="logo-wrap">
	                        <a href="index.html">
	                            <img src="img/logo.png" alt="logo">
	                        </a>
	                    </div>
	                    <div class="search-login-wrap">
	                        <div class="login-btn">
	                            <span>Войти</span>
	                        </div>
	                        <div>
	                            <input placeholder="Поиск текстов и видео..." class="search-form" type="input">
	                        </div>
	                    </div>
	                </div>
	                
	            </header>
</div>